*
!.gitignore
!.gitmodules
!CMakeLists.txt
!settings.gradle
!build.gradle
!gradle.properties
!README.md
!LICENSE
!app/
!app/**
!src/
!src/**
!.github/
!.github/**
!scripts/
!scripts/**
!extern/
!extern/**
!external/
external/*
!external/.pastehere
!icons/*
